<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projekt PW</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />  
</head>

<body>
    <h1><a href="/home">VolonteRI</a></h1>
    <div id="sidebar">
        <div class="sidebar-item"><a href="/home">Početna</a></div>
        <div class="sidebar-item"><a href="/admin">Admin login</a></div>
        <div class="sidebar-item"><a href="/about">O nama</a></div>
        <div class="sidebar-item"><a href="/projects">Projekti</a></div>
        <div class="sidebar-item"><a href="#">Pridruži se</a></div>
        <div class="sidebar-item"><a href="#">Kontakt</a></div>
    </div>

    <div>
        <h2>Dobrodošli u sustav za organizaciju volonterskih aktivnosti!</h2>
        <p>Naša organizacija je osnovana s ciljem poticanja pojedinaca da se aktivno uključe u volonterske aktivnosti
            koje doprinose boljoj zajednici i svijetu uopće. <br>
            Ovdje učimo, rastemo i zajedno gradimo mostove solidarnosti. <br>
            Kroz suradnju s lokalnim partnerima, organiziramo raznolike projekte koji obuhvaćaju područja od obrazovanja
            i socijalne skrbi do zaštite okoliša. <br>
            Pridružite nam se u našem entuzijazmu i predanosti da zajedno radimo na boljem sutra!</p>
        <button class="button">Pridruži se</button>
    </div>
</body>

</html>