<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projekt PW</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />  
</head>

<body>
    <h1><a href="">VolonteRI</a></h1>
    <div id="sidebar">
        <div class="sidebar-item"><a href="">Početna</a></div>
        <div class="sidebar-item"><a href="/admin">Admin login</a></div>
        <div class="sidebar-item"><a href="/about">O nama</a></div>
        <div class="sidebar-item"><a href="/projects">Projekti</a></div>
        <div class="sidebar-item"><a href="#">Pridruži se</a></div>
        <div class="sidebar-item"><a href="#">Kontakt</a></div>
    </div>

    <div>
        <p> <br>
            Mi smo strastvena zajednica posvećena promicanju volontarizma i pozitivnih društvenih promjena. <br>
            Naš tim čine ljudi različitih pozadina i vještina, ali nas povezuje ista želja za doprinosom zajednici i širenjem pozitivnog utjecaja. <br>
            Svi smo ovdje jer vjerujemo da volontiranje ima moć stvaranja trajnih promjena, a zajedno gradimo mostove nade i zajedništva. <br>
             </p>
        {% block content %}
        <br>
        <h2> Naši volonteri: </h2>
        <div class="volonters-container">
            {% for volonter in volonters %}
            <div class="volonter">
                <h4>{{ volonter.ime }}, {{ volonter.godine }}</h4>
                <p>Projekt: {{ volonter.projekt }}</p>
            </div>
            {% endfor %}
        </div>
        {% endblock %}
    </div>
</body>

</html>



